{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}ثبت‌نام در سامانه{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white text-center">
                <h4>📝 فرم ثبت‌نام دانشجو</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success w-100">عضویت</button>
                </form>
                <hr>
                <p class="text-center">قبلاً ثبت‌نام کرده‌اید؟ <a href="{% url 'login' %}">وارد شوید</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}